<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="transactionManager" class="org.jencks.factory.TransactionManagerFactoryBean" />

    <bean id="jcrConnectionManager" class="org.jencks.factory.ConnectionManagerFactoryBean">
        <property name="transactionManager" ref="transactionManager" />
        <property name="transaction" value="xa" />
    </bean>

    <bean id="jcrManagedConnectionFactory"
        class="org.apache.jackrabbit.jca.JCAManagedConnectionFactory">
        <property name="configFile"
            value="/home/kops/projects/jcr-transaction-sample/src/main/resources/repository.xml" />
        <property name="homeDir" value="${repository.dir}" />
    </bean>

    <bean id="repository"
        class="org.springframework.jca.support.LocalConnectionFactoryBean">
        <property name="managedConnectionFactory" ref="jcrManagedConnectionFactory" />
        <property name="connectionManager" ref="jcrConnectionManager" />
    </bean>

</beans>